<% content_for :title do %>Ryan Erickson<% end %>
<% content_for :description do %>Ryan Erickson's Portfolio<% end %>

<section>
    <p>This portfolio is currently under construction. More to come soon!</p>
    <p>In the meantime, here's some cool stuff you can do: <p>
    <ul>
        <li>Shrink the page and the top bar will become a dropdown menu!</li>
	<li>Open this on a mobile phone and the dropdown menu should work there as well!</li>
	<li>(Last but not least) download my resume!</li>
    </ul>
</section>
