<% content_for :title do %>Ryan Erickson<% end %>
<% content_for :description do %>Ryan Erickson's Portfolio<% end %>
<section>
    <p>This portfolio is currently under construction. More to come soon!</p>
</section>
