<% content_for :title do %>About<% end %>
<section>
<h3>About Me</h3>
    <p>
	I am currently a Computer Science major at the University of California, 
	Berkeley. My expected graduation date is Spring 2015. I enjoy web 
	and application development, good puzzles, problem-solving, and learning
	new things!
    </p>
</section>
