<% content_for :title do %>About<% end %>
<h3>About Me</h3>
<p>
    I am currently a Computer Science major at the University of California, 
    Berkeley. My expected graduation date is Spring 2015. I am also an 
    academic intern for 
    <a href="http://inst.cs.berkeley.edu/~cs61a">CS 61A at UC Berkeley</a>.
    I enjoy web development, a good puzzle, solving problems, and learning!
</p>
