<% content_for :title do %>About<% end %>
<section>
<h3>About Me</h3>
    <p>
	I am currently a Computer Science major at the University of California, 
	Berkeley. My expected graduation date is Spring 2015. I enjoy web 
	and application development, good puzzles, problem-solving, and learning
	new things!
    </p>
</section>
<section id="how_to_projects">
    <h3>About my projects - How did I do all of this?</h3>
    <p>
        Below is a list of helpful resources I've used in my work.
    </p>
    <ul>
        <li>
	    Ruby on Rails:
	    <ul>
	        <li>
		    <%= link_to "Michael Hartl's Rails Tutorial", 
		        'http://ruby.railstutorial.org/chapters/beginning#top' %>
		</li>
		<li>
		    <%= link_to "Learn Ruby on Rails - Daniel Kehoe", 
		        'http://learn-rails.com/' %>
		</li>
	    </ul>
	</li>
	<li>
	    Misc:
	    <ul>
	        <li><%= link_to 'codecademy', 'http://www.codecademy.com/' %></li>
		<li><%= link_to 'free programming books', 
		        'https://github.com/vhf/free-programming-books/blob/master/free-programming-books.md#c-1' %>
		</li>
	    </ul>
	</li>
    </ul>
</section>
