<% content_for :title do %>Contact<% end %>
<section>
<h3>Contact</h3>
<p> 
    The best way to contact me is email: 
    <%= link_to 'rserickson92@berkeley.edu', 'mailto:rserickson92@berkeley.edu' %> 

    Alternately, you can reach me at:
    <ul>
        <li><%= link_to 'Facebook', 'https://www.facebook.com/ryan.erickson.94' %></li>
        <li><%= link_to 'GitHub', 'https://github.com/rserickson92' %></li>
    </ul>
</p>
</section>
