<div class="row">
    <div class="small-3 large-3 small-centered columns">
        <p>&copy Ryan Erickson 2014</p>
    </div>
</div>
<div class="row">
    <div class="small-3 large-3 small-centered columns">
	<ul class="inline-list">
	    <%= render 'layouts/footer_links' %>
	</ul>
    </div>
</div>
